<!DOCTYPE html>
<html lang="en">
<head>
	{%- include head.html -%}
</head>
<body>
	<header class="texture-{{ site.texture.style }}">
		<div class="container">
			{%- include nav.html -%}
		</div>
		{%- include page_header.html -%}	
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>

		<link href="https://cdn.jsdelivr.net/npm/nanogallery2@3/dist/css/nanogallery2.min.css" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/nanogallery2@3/dist/jquery.nanogallery2.min.js"></script>
	</header>
	<main>
		<div ID="examples" data-nanogallery2='{
			"flickrAPIKey": "1c4468db66e4e972a7768432eded7c66",
			"userID": "124056958@N03",
			"kind": "flickr",
			"photoset": "72157692533134475",
			"thumbnailWidth": "300",
			"thumbnailGutterWidth": 4,
			"thumbnailGutterHeight": 4,
			"thumbnailAlignment": "center",
			"thumbnailOpenImage": true
		  }'>

    </div>
		</div>
	</main>
	{%- include footer.html -%}
</body>
</html>